@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.figma-light {
  --mainBg: #ffffff;
  --mainBgT: #ffffff00;
  --accent: #1c274c;

  --fg: #707889;
  --bg: #f4f6fa;

  --track: #eff0f2;
  --thumb: #5e657f;

  --settings: #616882;
  --settingsBorder: #ececec;
  --settingsActive: #ffffff;

  --icon: #495270;
  --iconActive: #1c274c;
  --iconBg: var(--mainBg);
  --iconBorder: #f3f3f3;
  --iconBgActive: #f8f9ff;
  --iconActiveBorder: #cfd4e9;
  --iconShadow: 0px 4px 20px rgba(28, 39, 76, 0.05),
    0px 0px 70px rgba(28, 39, 76, 0.1);
  --iconCross: #e64646;
  --iconCheck: #ffffff;

  --inputColor: #343a45;
  --inputHover: #cfd4e936;
  --inputFocus: #cfd4e9b3;

  --input: #eceff7;
  --inputBg: #ffffff;
  --inputBorder: #dbdeee;

  --button: var(--accent);
  --buttonFg: #ffffff;
  --buttonHover: #394363;
  --buttonPressed: #1aaf32;
  --buttonDisabled: #e9eaee;
  --buttonFocus: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.13),
      rgba(255, 255, 255, 0.13)
    ),
    #1c274c;
  --buttonBack: #e3e6ec;
  --boosty: #f05f2d;
  --boostyBg: #fdeae4;

  --skeleton: #dce0e7;
  --skeletonBg: linear-gradient(
    119.57deg,
    var(--bg) 22.76%,
    rgba(244, 246, 250, 0) 47.41%,
    var(--bg) 73.75%
  );

  --styleBg: #ffffff;
  --styleHover: #0320830d;
  --styleShadow: 0px 4px 20px rgba(28, 39, 76, 0.05),
    0px 0px 70px rgba(28, 39, 76, 0.1);

  --titleBg: #101833;
  --titleFg: #ffffff;

  --hint: #6168826b;
  --hintActive: #ffffff6b;

  --disclaimerBg: #fff;
  --disclaimerButtonBg: var(--bg);
  --disclaimerButtonFg: var(--fg);

  --otherBg: var(--bg);
  --otherFg: var(--fg);
  --otherActiveBg: var(--otherBg);
  --otherActiveFg: var(--accent);

  --tint: transparent;

  --imageBorder: #f4f6fa;
}

.figma-dark {
  --mainBg: #2c2c2c;
  --mainBgT: #2c2c2c00;
  --accent: #fff;

  --fg: #8f8f8f;
  --bg: #383838;

  --track: #383838;
  --thumb: #8f8f8f;

  --settings: #d9d9d9;
  --settingsBorder: #484848;
  --settingsActive: #2c2c2c;

  --icon: #959595;
  --iconActive: #ffffff;
  --iconBg: var(--mainBg);
  --iconBorder: #444444;
  --iconBgActive: #494949;
  --iconActiveBorder: #656565;
  --iconShadow: none;
  --iconCross: #ffffff;
  --iconCheck: #2c2c2c;

  --inputColor: #ffffff;
  --inputHover: #60606033;
  --inputFocus: #606060b2;

  --input: #606060;
  --inputBg: var(--mainBg);
  --inputBorder: #606060;

  --button: var(--accent);
  --buttonFg: #000000;
  --buttonHover: #ffffff;
  --buttonPressed: #40994e;
  --buttonDisabled: #3e3e3e;
  --buttonFocus: #cfcfcf;
  --buttonBack: #4b4b4b;
  --boosty: #f05f2d;
  --boostyBg: #f8845c21;

  --skeleton: #494949;
  --skeletonBg: linear-gradient(
    110deg,
    #393939 26.04%,
    rgba(56, 56, 56, 0) 51.04%,
    #383838 80.21%
  );

  --styleBg: #494949;
  --styleHover: #ffffff08;
  --styleShadow: none;

  --titleBg: #151515;
  --titleFg: #ffffff;

  --hint: #ffffff6b;
  --hintActive: #0000006b;

  --disclaimerBg: #383838;
  --disclaimerButtonBg: #494949;
  --disclaimerButtonFg: #ffffff;

  --otherBg: #494949;
  --otherFg: #ffffff;
  --otherActiveBg: #ffffff;
  --otherActiveFg: #2c2c2c;

  --tint: #5a5a5a57;

  --imageBorder: #393939;
}

html,
body {
  background: var(--mainBg);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#react-page {
  flex: 1;
  height: 100%;
  display: flex;
  overflow: hidden;
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
input,
button,
textarea {
  outline: none;
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
}

.main div *,
.page *,
.disclaimer *,
.box *,
.search > * * {
  transition: all 200ms linear !important;
}

button.accent,
button.medium {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 0;
  width: 100%;
  grid-column: 1 / -1;
}

button.accent {
  background: var(--buttonDisabled);
  color: var(--button);
}

button.accent:hover,
button.medium {
  background: var(--button);
  color: var(--buttonFg);
}

button.accent:focus,
button.medium:hover,
button.medium:focus {
  background: var(--buttonFocus);
  color: var(--buttonFg);
}

button.accent:disabled {
  background: var(--buttonDisabled);
  color: var(--fg);
}

button.small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 50px;
  border-radius: 10px;
  background: var(--bg);
  border: 2px solid var(--bg);
}

button.small:hover {
  border: 2px solid var(--inputHover);
}

button.small:focus {
  border: 2px solid var(--inputFocus);
}

button.back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

button.back:hover {
  background: var(--bg);
}

button.back:focus {
  background: var(--buttonBack);
}

.search {
  display: flex;
  gap: 8px;
  padding: 20px 24px 0 24px;
  height: 70px;
}

.search .magnifer,
.search .line {
  position: absolute;
  left: 15;
  pointer-events: none;
  rotate: -45deg;
}

.search .line {
  opacity: 0;
}

.search span:focus-within .magnifer {
  animation-duration: 300ms;
  animation-name: m;
}

@keyframes m {
  0% {
    scale: 1;
  }

  50% {
    scale: 0 1;
  }

  100% {
    scale: 1;
  }
}

.search span:focus-within .line {
  animation-duration: 300ms;
  animation-name: li;
}

@keyframes li {
  25% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

.icon {
  padding: 4px;
  display: flex;
  cursor: auto;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
}

.container:hover {
  box-shadow: var(--iconShadow);
  z-index: 99;
}

.container *[stroke="#1C274C"] {
  stroke: var(--icon);
}

.container *[fill="#1C274C"] {
  fill: var(--icon);
}

.container.selected *[fill="#1C274C"] {
  fill: var(--iconActive);
}

.container.selected *[stroke="#1C274C"] {
  stroke: var(--iconActive);
}

.title {
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  z-index: 9999;
  pointer-events: none;
}

.title.centre {
  left: 50%;
  align-items: center;
  transform: translate(-50%, 0);
}

.title.left {
  left: calc(50% - 23px);
  align-items: flex-start;
}

.title.right {
  right: calc(50% - 23px);
  align-items: flex-end;
}

.title.top {
  top: -45px;
}

.title.top svg {
  order: 1;
  rotate: 180deg;
}

.title.bottom {
  bottom: -45px;
}

.title p {
  font-weight: 500;
  font-size: 12px;
  color: var(--titleFg);
  text-align: center;
  padding: 8px 10px;
  background: var(--titleBg);
  border-radius: 10px;
}

.title svg {
  transition: none !important;
  margin: 0 14px;
}

.container.hover:hover .title {
  opacity: 1;
}

.content {
  border-radius: 12px;
  border: 1px solid var(--iconBorder);
  background: var(--iconBg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  cursor: pointer;
}

.content svg {
  width: 32px;
  height: 32px;
}

.selected .content {
  background: var(--iconBgActive);
  border: 1px solid var(--iconActiveBorder);
}

.container > svg {
  scale: 0;
  z-index: 9;
  position: absolute;
  top: -3px;
  right: -3px;
  width: 20px;
  height: 20px;
  transition: scale 100ms ease-in !important;
}

.container.selected > svg {
  scale: 1;
}

.app {
  flex: 1;
  display: grid;
  gap: 15px;
  grid-template-rows: auto 1fr;
}

.page {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
}

.app,
.page,
.main,
.box {
  animation-duration: 500ms;
  animation-name: o;
}

@keyframes o {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.track * {
  transition: none !important;
  transition: background 200ms linear !important;
  transition: width 200ms linear !important;
}

.track {
  position: absolute;
  background: var(--track);
  right: 3px;
  top: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 3px;
}

body[style="user-select: none;"] .track {
  width: 5px;
}

body[style="user-select: none;"] .thumb {
  background: var(--accent);
}

.thumb {
  width: 3px;
  background: var(--thumb);
  border-radius: 100px;
}

.thumb:hover {
  background: var(--accent);
}

.fade {
  z-index: 99;
  height: 0px;
  overflow: hidden;
  background: var(--mainBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 0 20px;
  transition: all 200ms linear !important;
}

.fade.active {
  height: 60px;
  padding-bottom: 10px;
}

.fade * {
  transform: translate(0, 30px);
}

.fade.active * {
  transform: translate(0, 0);
}

.input {
  flex: 1;
  height: 50px;
  background: var(--bg);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--inputColor);
  padding: 16px 46px;
  border: 2px solid var(--bg);
}

.input::placeholder {
  color: var(--fg);
  font-weight: 400;
}

.input:hover {
  border: 2px solid var(--inputHover);
}

.input:focus {
  border: 2px solid var(--inputFocus);
}

.settings {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  gap: 9px;
}

.settings:hover *[fill="var(--fg)"],
.settings:focus *[fill="var(--fg)"] {
  fill: var(--accent);
}

.settings .clicked circle[cx="8"] {
  animation-duration: 300ms;
  animation-name: c1;
}

.settings .clicked circle[cx="12"] {
  animation-duration: 300ms;
  animation-name: c2;
}

@keyframes c1 {
  50% {
    transform: translateX(4px);
  }
}

@keyframes c2 {
  50% {
    transform: translateX(-4px);
  }
}

.settings.active p {
  transform: scale(1);
  margin-right: 0;
}

.settings p {
  margin-right: -28px;
  transform: scale(0);
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: var(--buttonFg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background: var(--accent);
  border-radius: 30px;
}

.styleBox {
  z-index: 999;
  position: relative;
  background: var(--bg);
  border-radius: 10px;
  padding: 3px;
  margin: 0 24px 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.styleSkeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}

.styleSkeleton div {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: var(--skeleton);
}

.style {
  border-radius: 7px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}

.style.active {
  background: var(--styleBg);
  box-shadow: var(--styleShadow);
}

.style:after {
  position: absolute;
  top: 5px;
  right: 5px;
  content: "";
  width: 4px;
  height: 4px;
  background: var(--fg);
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;
}

.style.active:after {
  background: var(--iconCross);
}

.style:not(.active):hover:after {
  background: var(--accent);
}

.style.selc:after {
  opacity: 1;
}

.style:not(.active):hover {
  background: var(--styleHover);
}

.style.active *[fill="var(--fg)"],
.style.active *[fill="transparent"] {
  fill: var(--accent);
}

.style.active *[stroke="var(--fg)"] {
  stroke: var(--accent);
}

.style svg.clicked {
  animation-duration: 300ms;
  animation-name: r;
}

@keyframes r {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.5;
  }

  100% {
    scale: 1;
    rotate: 360deg;
  }
}

.category {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 14px 9px 12px;
  gap: 10px;
  border: 1px solid var(--settingsBorder);
  border-radius: 20px;
}

.category .hint {
  width: 1px;
  height: 10px;
  background: var(--hint);
  border-radius: 1px;
}

.category.active {
  background: var(--accent);
  border: 1px solid var(--accent);
}

.category.active .hint {
  background: var(--hintActive);
}

.category .len {
  font-weight: 500;
}

.category p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--accent);
  opacity: 0.7;
}

.category.active p {
  color: var(--settingsActive);
  opacity: 1;
}

.category svg {
  opacity: 0.7;
  width: 20px;
  height: 20px;
}

.category.active svg {
  opacity: 1;
}

.category *[stroke="#1C274C"] {
  stroke: var(--accent);
}

.category *[fill="#1C274C"] {
  fill: var(--accent);
}

.category.active *[fill="#1C274C"] {
  fill: var(--settingsActive);
}

.category.active *[stroke="#1C274C"] {
  stroke: var(--settingsActive);
}

.category.active *[fill="white"] {
  fill: var(--accent);
}

.category.active *[stroke="white"] {
  stroke: var(--accent);
}

.box {
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-right: 9px;
  padding: 5px 8px 20px 20px;
}

.box div {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.head {
  display: flex;
  align-items: center;
  width: 100%;
}

.head h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--accent);
}

.head button {
  font-weight: 400;
  font-size: 12px;
  color: var(--settings);
  margin-left: 200px;
}

.head button:hover {
  color: var(--accent);
}

.header {
  display: grid;
  margin: 28px 15px 5px 15px;
  grid-template-columns: 40px 1fr 40px;
  grid-gap: 10px;
}

.header h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--accent);
  margin: auto 0;
}

.menu {
  overflow-y: auto;
  margin-right: 9px;
  padding: 15px 8px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bug,
.credits,
.other {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bug h3,
.credits h3,
.other h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--accent);
}

.bug textarea {
  width: 100%;
  height: 50px;
  background: var(--inputBg);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  color: var(--inputColor);
  padding: 16px 20px;
  border: 2px solid var(--input);
  overflow: hidden;
  resize: none;
  transition: height 0s linear !important;
}

.bug textarea::placeholder {
  color: var(--fg);
  font-weight: 400;
}

.bug textarea:hover {
  border: 2px solid var(--inputHover);
}

.bug textarea:focus {
  border: 2px solid var(--inputBorder);
}

.bug .submitted {
  background: var(--buttonPressed) !important;
  color: #ffffff !important;
}

.credits > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.de {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px 0;
}

.de img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.de > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.de > div > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 11px;
}

.de h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--accent);
}

.de p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--fg);
}

.de > div > p {
  font-weight: 500;
}

.de:hover,
.de:focus {
  padding: 10px;
  background: var(--bg);
}

.de:hover > div > p,
.de:focus > div > p {
  color: var(--accent);
}

.de:hover path,
.de:focus path {
  stroke: var(--accent);
}

.credits .boosty {
  text-decoration: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--boostyBg);
  color: var(--boosty);
  gap: 13px;
}

.credits .boosty:hover path,
.credits .boosty:focus path {
  fill: white;
}

.credits .boosty:hover,
.credits .boosty:focus {
  background: var(--boosty);
  color: white;
}

.other > div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.oth {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background: var(--otherBg);
  border-radius: 10px;
}

.oth:hover,
.oth:focus {
  background: var(--otherActiveBg);
}

.oth span {
  width: 35px;
  height: 35px;
  padding: 7px;
  border-radius: 100%;
  background: var(--otherFg);
}

.oth:hover span,
.oth:focus span {
  background: var(--otherActiveFg);
}

.oth:hover span path,
.oth:focus span path {
  fill: var(--otherActiveBg);
}

.oth div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.oth p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--otherFg);
}

.oth:hover p,
.oth:focus p {
  color: var(--otherActiveFg);
}

.oth:hover div path,
.oth:focus div path {
  stroke: var(--otherActiveFg);
}

.oth:hover div,
.oth:focus div {
  animation-duration: 300ms;
  animation-name: g;
}

@keyframes g {
  0% {
    gap: 3px;
  }

  50% {
    gap: 7px;
  }

  100% {
    gap: 3px;
  }
}

.searchErr {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: min-content;
  margin: auto;
}

.searchErr p {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--accent);
  width: max-content;
  max-width: 100vw;
}

.searchErr div {
  width: 180px;
  height: 180px;
  display: flex;
  position: relative;
  border-radius: 100%;
  outline: 3px solid var(--imageBorder);
}

.searchErr svg {
  border-radius: 100%;
}

.searchErr div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  border: solid transparent 2px;
}

.searchErr div.loading::after {
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  border-top-color: var(--accent);
  animation: 600ms l ease-in-out infinite;
}

@keyframes l {
  to {
    rotate: 360deg;
  }
}

.skeleton {
  height: 100%;
  overflow: hidden;
  padding: 15px 24px 20px 24px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(min(62px, 100%), 1fr));
}

.skeleton div {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 12px;
  background: var(--skeletonBg);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.disclaimer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer > div {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 15px;
  width: 90%;
  gap: 10px;
  background: var(--disclaimerBg);
}

.disclaimer > div > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.disclaimer > div > div button {
  background: var(--disclaimerButtonBg);
}

.disclaimer h2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--accent);
}

.disclaimer span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--fg);
}

.disclaimer span b {
  font-weight: 500;
  font-size: 16px;
  color: var(--accent);
}

.disclaimer label {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 2px;
  cursor: pointer;
}

.disclaimer label p {
  font-weight: 400;
  font-size: 16px;
  color: var(--fg);
}

.disclaimer label button {
  width: 20px;
  height: 20px;
  border: 2px solid var(--fg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer label.checked p {
  color: var(--accent);
  font-weight: 500;
}

.disclaimer label.checked button {
  border: 2px solid var(--accent);
  background: var(--accent);
}

.list {
  padding: 11px 8px 11px 11px;
}

.listBox {
  padding: 0 9px;
  position: relative;
  display: flex;
}

.listBox {
  position: relative;
}

.listBox::before,
.listBox::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  z-index: 9999999;
  pointer-events: none;
}

.listBox::before {
  top: 0;
  background: linear-gradient(0deg, var(--mainBgT) 0%, var(--mainBg) 50.52%);
}

.listBox::after {
  bottom: 0;
  background: linear-gradient(180deg, var(--mainBgT) 0%, var(--mainBg) 50.52%);
}

.list > div {
  position: relative;
}

.list::-webkit-scrollbar-button {
  height: 15px;
  background: var(--mainBg);
}

.box::-webkit-scrollbar-button,
.menu::-webkit-scrollbar-button {
  height: 10px;
  background: var(--mainBg);
}

.list::-webkit-scrollbar,
.box::-webkit-scrollbar,
.menu::-webkit-scrollbar {
  border-radius: 3px;
  background: var(--track);
  cursor: pointer;
  width: 3px;
}

.list::-webkit-scrollbar-thumb,
.box::-webkit-scrollbar-thumb,
.menu::-webkit-scrollbar-thumb {
  background: var(--thumb);
  border-radius: 3px;
}

.list::-webkit-scrollbar-thumb:hover,
.box::-webkit-scrollbar-thumb:hover,
.menu::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.banner {
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-top: 15px;
  margin: 15px 24px 0 24px;
  overflow: hidden;
  position: relative;
}

.banner > div {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  z-index: 2;
}

.banner > button {
  display: flex;
  z-index: 2;
}

.banner > svg {
  position: absolute;
  left: 0;
  right: 0;
  background: red;
}

.banner > span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
